<div class="contacto">
  <mat-card>
    <h1 class="titulo"><u>Contacto</u> </h1>

<div class="" style="display: flex; justify-content: space-evenly; margin-bottom: 10px;">
      <div class="imagenes">
      <img src="/assets/img/ubicacion.png" alt="" class="img">
      <img src="/assets/img/instagram.png" alt="" class="img">
      <img src="/assets/img/facebook.png" alt="" class="img">
      <img src="/assets/img/whatsapp.png" alt="" class="img">
      <img src="/assets/img/qr.png" alt="" class="img">

    </div>

<div class="imagenes">
  <a href="https://www.google.com.ar/maps/place/Guti%C3%A9rrez,+Maip%C3%BA,+Mendoza/@-32.9525351,-68.7911966,15.92z/data=!4m5!3m4!1s0x967e0c672a5a5375:0xe49bff8401bd22!8m2!3d-32.9528469!4d-68.7899203"
    target="_blank" class="link" matTooltip="Conoce nuestra ubicación">Ubicacion</a>
  <a href="https://www.instagram.com/hogarenas.unadeliciacasera/" target="_blank" class="link"
    matTooltip="Ingresa a nuestro Instagram">Instagram</a>
  <a href="https://www.facebook.com/Hogare%C3%B1as-111155531630214" target="_blank" class="link"
    matTooltip="Ingresa a nuestro Facebook"> Facebook</a>
  <a target="_blank" class="link"
    matTooltip="Escribe al Whatsapp de Hogareñas"><u>2613621313</u></a>
  <img src="/assets/img/qr_listo.png" alt="" class="img" matTooltip="Escanea el código QR" style="margin-left: 100px;">

</div>
</div>


  </mat-card>

</div>
